.container{
    background-image: url("../../../../public/assets/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
/*     padding: 10px;
    background: #51EAEA; */

}

.container h1{
    text-align: center;
    padding: 15px;
    font-size: xx-large;
}

.container ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 50px;
}

.container ul li{
    list-style: none;
}

.container ul li a{
    text-decoration: none;
    color: black;
}